.Add_pro {
    width: 100%;
    height: auto;
    background-color: rgb(246, 246, 251);

    .add_form {
        width: 100%;

        h2{
            margin-top: 120px;
        }

        .btn3{
            background-color: rgba(29, 75, 105, 0.85);
            color: white;
            padding: 5px 30px 5px 30px;
            margin-left: 35%;
        }

        hr{
            width: 70%;
        }

        h5 {
            margin-top: 30px;
        }

        label {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        input {
            width: 70%;
        }

        .btn4 {
            background-color: rgba(29, 75, 105, 0.85);
            color: white;
            margin-top: 25px;
            padding: 5px 30px 5px 30px;
            margin-bottom: 20px;
        }
    }

}

@media (max-width:600px) {
    .Add_pro {
        .add_form {
            padding: 25px;
            hr{
                width: 100%;
            }
            input{
                width: 100%;
            }
            .btn3{
                margin-left: 30%;
            }
        }
    }
}